.vixenworks-menu
    .category: a(href=`${basePath}` title='Inicio'): img(src=`${basePath}img/vixenworks/icon/menu-home.png` alt='Home')
    .category Contabilidad
        .items
            .item: a(href=`${basePath}contabilidad/iva-compras/`) IVA compras
    .category Compras
        .items
            .item: a(href=`${basePath}compras/pendientes-de-pago/`) Pendientes de pago
            .item: a(href=`${basePath}compras/gastos-mensuales/`) Gastos mensuales
            .item: a(href=`${basePath}compras/pendientes/`) Pendientes
